{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}



  <div class="page-banner overlay-dark bg-image" style="background-image: url(../static/app/img/centro-medico.jpg);">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contacto</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal">Contacto</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  <br>
  
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">                 
      <div class="card-body">     
        <form action="" method="post">
          {% csrf_token %}
          {{ form | crispy }} 
          <hr>
          <div class=" d-flex justify-content-end">
            <input type="reset" value="Cancelar" class="btn btn-danger">  
          &nbsp;
            <button type="submit" class="btn btn-primary">Enviar</button>             
          </div>
        </form>
        {{mensaje}}  
      </div>          
    </div>
  </div>   

{% endblock %}